<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Poslední známka z informatiky</title>

	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/css/pricing.css" rel="stylesheet">

    {block head}{/block}
</head>

<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
	<h5 class="my-0 mr-md-auto font-weight-normal">Gymnázium Christiana Dopplera</h5>
	<nav class="my-2 my-md-0 mr-md-3">
		<a class="p-2 text-dark" href="/">Home</a>
		<a class="p-2 text-dark" href="/form">Kontaktní formulář</a>
		<a class="p-2 text-dark" href="/form/messages">Zaslané vzkazy</a>
		<a class="p-2 text-dark" href="/authors">Autoři</a>
		<a class="p-2 text-dark" href="/contact">Kontakt</a>
	</nav>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">{ifset title}{include title|stripHtml}{else}Poslední známka z informatiky{/ifset}</h1>
</div>

<div class="container">
	<section>
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type, alert, 'alert-'.$flash->type">{$flash->message}</div>
		{include content}
	</section>
</div>


{block scripts}
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/js/jquery-slim.min.js"><\/script>')</script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/holder.min.js"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
</script>
{/block}
</body>
</html>
