{define title}Autoři{/define}
{block content}
<p>Na tomto úkolu se podíleli následující:</p>
<ul>
    <li>Kateřina Lipavská</li>
    <li>Kamila Kyzlíková</li>
    <li>Gabriela Sidorinová</li>
    <li>Kateřina Poláková</li>
    <li>Vojtěch Švandelík</li>
</ul>
