{block content}
<p class="text-center">
    Toto je podpůrná webová aplikace, která má demonstrovat znalosti studentů Gymnázia Christiana Dopplera v oblasti <em>HTML</em>, <em>CSS</em> a převážně <em>PHP</em>.
</p>
