{define title}Zaslané zprávy{/define}
{block content}
{if $messages}
    <div class="media mb-2" n:foreach="$messages as $message">
        <img class="mr-3" alt="{$message->name}" src="https://www.gravatar.com/avatar/{$message->hash}?s=100&d=identicon"/>
        <div class="media-body">
            <h5 class="mt-0">{$message->name}
                <small>{$message->email}</small>&nbsp;<a n:href="Form:remove $message->ID"><strong>&#10005;</strong></a>
            </h5>
            {$message->content|escape}
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {if $page <= 1}disabled{/if}">
                <a class="page-link" n:href="messages $page-1" tabindex="-1">Předchozí</a>
            </li>
            {for $i = 1; $i <= $lastPage; $i++}
                <li class="page-item {if $page == $i}active{/if}"><a class="page-link" n:href="messages $i">{$i}</a>
                </li>
                {if $page <= 3 && $i == 3 && $lastPage > 6}
                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                    {php $i = $lastPage - 3}
                {elseif $page > 3 && $page < $lastPage - 3 && $i >= 3 && $i < $lastPage - 3}
                    {if $i > 4}
                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                    {/if}
                    <li class="page-item active"><a class="page-link" n:href="messages $page">{$page}</a>
                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                    {php $i = $lastPage - 3}
                 {elseif $page >= $lastPage - 3 && $i == 3}
                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                    {php $i = $lastPage - 4}
                {/if}

            {/for}
            <li class="page-item {if $page >= $lastPage}disabled{/if}">
                <a class="page-link" n:href="messages $page+1">Další</a>
            </li>
        </ul>
    </nav>
{else}
    <p class="text-center">Žádné vzkazy nevloženy.</p>
{/if}
